* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* primary button */
.btn-primary {
  width: 160px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f15b22;
  text-align: center" 
}

/* header start */
.banner {
  width: 100%;
  height: 808px;
  background-image: url("../images/banner/banner1.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner-des {
  position: absolute;
  right: 0;
  padding-right: 230px;
  padding-top: 216px;
}
.banner-des h1 {
  width: 525px;
  font-size: 65px;
  font-weight: 700;
  color: var(--Dark-01, #151414);
  text-align: right;
}

.banner-des p {
  padding-top: 24px;
  padding-bottom: 32px;
  width: 525px;
  color: var(--Dark-02, #444343);
  text-align: right;
  font-size: 16px;
}
.banner-des button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
}
.buttonConatiner{
    text-align: right;
}

/* header end */

/* main part start */
/* section part 1 */
.part1{
    display: flex;
    align-items: center;
    gap: 34px;
    position: absolute;
    margin-top: 140px;
    margin-left: 350px;
    margin-right: 350px;
}
.part1-describe{
    width: 50%;
}

.describe-title{
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;

}

.describe-paragraph{
    margin-top: 24px;
    margin-bottom: 16px;
    color: var(--Dark-02, #444343);
}

.checkmark-display p{
  color: var(--Dark-02, #444343);
}
.checkmark-display{
    display: flex;
    gap: 5px;
}


/* section part 2 */
.part2{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 135px;
}
.part2-title{
color: var(--Dark-01, #151414);
font-size: 40px;
padding-top: 985px;
text-align: center;
padding-bottom: 55px;
}


.part2-design{
  display: flex;
  text-align: center;
  gap: 34px;
  
}

.title-describe{
  color: var(--Dark-01, #151414);
  font-size: 30px;
  font-weight: 700;

}
.design-describe p{
  color: var(--Dark-03, #737272);
  font-size: 25px;
  font-weight: 500;

}

/* section part3 styles */
.part3{
  justify-content: center; 
    align-items: center;
  margin-left: 20%;
  margin-bottom: 30px;
}
.backImage{
  background-image: url(../images/gradient2.png),url("../images/watch.png");
  background-repeat: no-repeat;
   /* position: absolute;  */
   width: 100%;
   height:3 40px; 

}
.back-title {
  padding-top: 50px;
  padding-left: 64px;
  color: #FFF;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: left;
}

.callNow-button{
  width: 160px;
height: 64px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
border: none;
margin-left: 64px;
margin-top: 24px;
}
.backImage button{
  color: #F15B22;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

/* main part end */
